

<div [class] = 'ThemeName'>
<select size="1" [(ngModel)]=ThemeName name="BG" id="n">
  <option value="">Select a Theme</option>
  <option value="forest">Forest</option>
  <option value="ocean">Ocean</option>
  <option value="cloud">Sky</option>
</select>
<select size="1" [(ngModel)]=textboxcolor name="TG" id="x">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="yellow">Yellow</option>
  <option value="orange">Orange</option>
  <option value="pink">Pink</option>
</select>
<input type="text"  [style.color]="applycolor" [style.background-color]="textboxcolor"    name="TG" id="x"><br>
<select size="1" [(ngModel)]=applycolor name="TG" id="x">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="yellow">Yellow</option>
  <option value="orange">Orange</option>
  <option value="pink">Pink</option>
</select>
<label>Select size</label><input type="number" min="100" max="1000" step="20" [(ngModel)]=size name="size" id="q">

<div [class]="ThemeName1" [style.max-width.px]=size [style.max-height.px]="size">
  <select size="1" [(ngModel)]=ThemeName1 name="BG" id="n">
    <option value="">Select a Theme</option>
    <option value="forest">Forest</option>
    <option value="ocean">Ocean</option>
    <option value="cloud">Sky</option>
  </select> 
</div >

</div>
<router-outlet></router-outlet>
<!--property Binding-->
<br><br><br><br><br><hr><hr><hr>
<div>
<form name="myForm" (ngSubmit)="savedata()">
<label>FirstName:</label><input type="text"  name="FirstName" [(ngModel)]="udata.FirstName" (ngModelChange)="CheckData($event)"/>&nbsp;&nbsp;<label style="color: red;" *ngIf="udata.FirstName.length<= 0">Fill in your First Name</label><br>
<label>LastName</label><input type="text" name="LastName" [(ngModel)]="udata.LastName" /><label  style="color: red;" *ngIf="udata.LastName.length<=0">Fill in your Last Name</label><br>
<label>Location:</label>
<select size="1" [(ngModel)]="State" name="state" id="n">
  <option value="">Select a State</option>
  <option value="TamilNadu">TamilNadu</option>
  <option value="Andhra Pradesh">Andhra Pradesh</option>
  <option value="Karnataka">Karnataka</option>
</select>
<select name="TN" [(ngModel)]="city" size="1" [hidden]="!(State === 'TamilNadu')">
  <option value="Chennai">Chennai</option>
  <option value="Madurai">Madurai</option>
  <option value="Coimbatore">Coimbatore</option>
  <option value="Kancheepuram">Kancheepuram</option>
</select>
<select name="AP"size="1" [(ngModel)]="city" [hidden]="!(State === 'Andhra Pradesh')">
  <option value="Visakhapattinam">Visakhapattinam</option>
  <option value="Kakinada">Kakinada</option>
  <option value="Guntur">Guntur</option>
  <option value="Vijayawada">Vijayawada</option>
</select>
<select name="KR" size="1" [(ngModel)]="city" [hidden]="!(State === 'Karnataka')">
  <option value="Banglore">Banglore</option>
  <option value="Mysore">Mysore</option>
  <option value="Mangalore">Mangalore</option>
  <option value="Hubbali">Hubbali</option>
</select><br>
<label>Company Name:</label><input type ="text" [(ngModel)]="udata.Company" name="companyname"/><br>
  <label>User Location</label><input type ="text" [(ngModel)]="udata.Location" name="UserLocation"/><br>
  <!-- <ng-container  *ngIf="udata.Company.length !=0 && udata.Location.length!=0;then Correct;else NotCorrect;">

  </ng-container><br> -->
  <ng-template  [ngIf]="this.udata.Company.length!=0 && this.udata.Location.length!=0" [ngIfElse]="NotCorrect">
    <b style="color: green;" > Given locations are Valid</b>
  </ng-template><br>
<input  type="submit" name="Add User"  value="Save Array"  /><br><br>
</form>
</div>
<br><br>

<hr><hr><hr>
<div>
  <fieldset>
    <legend>User Details</legend>
  <table>
    <tr><td>First Name</td><td>Last Name</td><td>State</td><td>City</td><td>Company</td><td>Location</td><tr>
    <tr *ngFor="let user of UserDetails"><td>{{user.FirstName}}</td> <td>{{user.LastName}}</td><td>{{State}}</td><td>{{city}}</td><td>{{user.Company}}</td><td>{{user.Location}}</td></tr>
  </table>
</fieldset>
  <!-- <input type="reset" value="Reset" [disabled]="!(udata.FirstName.length >0 && udata.LastName.length >0)"> -->
  </div>


<ng-template   #NotCorrect>

  <b style="color: red;"> Location and Company name are mandatory</b>

</ng-template>
<br><br><hr><hr><hr>
<div [class]="ThemeName2">
<select size="1" [(ngModel)]=ThemeName2 name="BG" id="n">
  <option value="">No Theme</option>
  <option value="forest">Forest</option>
  <option value="ocean">Ocean</option>
  <option value="cloud">Sky</option>
</select><br>
<fieldset>
  <legend >Personal Details</legend>
<label>First Name:</label><input type ="text" [(ngModel)]="FirstName1" name="TG"/><br>
<label>Last Name:</label><input type ="text" [(ngModel)]="LastName1" name="TG"/><br>
<h3 [style.display]="(FirstName1 === '' || LastName1 === '') ? 'block' : 'none'" style="color: red;">Enter both FirstName and Last name</h3>
<input type="submit" [disabled]="(FirstName1 === '' || LastName1 === '')" value="save" /></fieldset><br><hr>
</div>
<br><hr><hr><hr>
<div style="height: 400px;width: 400px;">
  <select name="state2" size="1" [(ngModel)]="stateName" >
    <option value="">Select a State</option>
    <option value="Indiana">Indiana</option>
    <option value="California">California</option>
    <option value="Texas">Arizona</option>
    <option value="New York">New York</option>
  </select>
  <span [ngSwitch]="stateName" >
    <ul *ngSwitchCase="'Indiana'"><li>Indianapolis</li><li>Fort Wayne</li><li>South Bend </li><li>Bloomington</li></ul>
    <ul *ngSwitchCase="'California'"><li>Los Angeles</li><li>San Diego</li><li>San Francisco </li><li>Sacremento</li></ul>
    <ul *ngSwitchCase="'Texas'"><li>Dallas</li><li>Austin</li><li>Houston</li><li>Elpaso</li></ul>
    <ul *ngSwitchCase="'New York'"><li>New York</li><li>Albany</li><li>Buffalo</li><li>Rochestor</li></ul>
  </span>
</div>







